.hero-section {
        background-image: url(../img/image-banner.png);
        background-position: center;
        background-size:cover;
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        height: 100px;
  
}
