.presentation-section {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  &__img {
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    -o-border-radius: 150px;
    width: 120px;
    height: 120px;
  }
}

.data-section {
    font-family: $ff-roboto;
    &__name {
        font-size: $fs-xx-large;
  }
  &__nickname {
      font-weight: $fw-regular;
      font-size:$fs-large;
      color:$color-quick-silver;
  }
}

.data-buttons{
  display: none;
}


@include desktop-view{
  .presentation-section {
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    position: relative;
    justify-content: center;
    left: -400px;
    &__img {
      border-radius: 150px;
      -webkit-border-radius: 150px;
      -moz-border-radius: 150px;
      -ms-border-radius: 150px;
      -o-border-radius: 150px;
      width: 50px;
      height: 50px;
    }
    .data-section {
      margin-left: 10px;
      margin-top: 15px;
      font-family: $ff-roboto;
      &__name {
          font-size: $fs-small;
          font-weight: $fw-bold;
          margin-bottom: 0;
    }
    &__nickname {
        font-weight: $fw-regular;
        font-size:$fs-x-small;
        color:$color-quick-silver;
    }
  }
  }
  .data-buttons{
    display: flex;
    position: relative;
    right: -700px;
    top: -60px;
  .btn-color-blue{
    display: flex;
    background-color: rgb(120, 214, 221);
    color: $color-white;
    height: 30px;
    align-items: center;
    margin-right: 7px;
  }
  .btn-color-orange{
    display: flex;
    position: relative;
    background-color: rgb(226, 123, 109);
    color: $color-white;
    height: 30px;
    align-items: center;
    
  }
  }   
}